{% extends "base.html" %}
{% load static %}

{% block title %}
Welcome to MovieVault
{% endblock title %}

{% block content %}
    <main>
        <div class="main-grid">
            {% for movie in movies %}
            <div class="movie-card">
                <img src="{{ movie.image }}" alt="">
                <h2 class="movie-title">{{ movie.title }}</h2>
                <p class="release-date">{{ movie.release_date }}</p>
                <a href="{% url 'movie_detail' movie.id %}"></a>
            </div>
            {% endfor %}
        </div>
    </main>
{% endblock content%}
