{% extends "base.html" %}

{% block title %}
{{ movie_object.title }} - MovieVault
{% endblock title %}

{% block content %}
<div class="movie-info">
    <img src="{{ movie_object.image }}" alt="" class="">
    <h2 class="movie-title">{{ movie_object.title }}</h2>
    <p class="release-date">{{ movie_object.release_date }}</p>
    <p class="movie-description">{{ movie_object.description }}</p>
</div>
{% endblock content %}
