{% extends "base.html" %}

{% block title %}
Upload a Moive - MovieVault
{% endblock title %}
{% block content %}
    <main>
        <h1 class="logo">Upload a Movie to the Library</h1>
        <form method="post" class="upload-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Upload</button>
        </form>
    </main>
{% endblock content %}
