* {
    box-sizing: border-box;
}

body {
    background-color: #808080;
}

header {
    background-color: #1030AD;
    padding-bottom: 0.5em;
    padding-top: 1em;
    border-bottom: 2px solid #FFCC00;
}

.logo {
    display: flex;
    justify-content: center;
    font-weight: 900;
    font-size: 50px;
    letter-spacing: 2px;
    color: #FFCC00;
    margin-bottom: -40px;
}

.nav-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    justify-items: center;
    margin: 20px;
}

.nav-item {
    display: flex;
    color: #FFCC00 !important;
    border: 4px solid #FFCC00 !important;
    font-size: 20px;
    padding: 10px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 650;
    width: 130px;
    justify-content: center;
    transition: all 0.3s ease 0s;
}

.nav-item:hover {
    color: whitesmoke !important;
    border-radius: 50px;
    border-color: whitesmoke !important;
    transition: all 0.3s ease 0s;
}

.main-grid {
    display: grid;
    justify-content: center;
    justify-items: center;
    margin-top: 60px;
    margin-bottom: 40px;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 40px;
}

.movie-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid #1030AD;
    border-radius: 10px;
    background-color: #57504D;
    box-shadow: 5px 5px 5px #FFCC00;
    position: relative;
}

.movie-card a::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }

img {
    height: 300px;
}

.movie-title {
    margin: 5px;
}

.release-date {
    margin: 0;
}

footer {
    display: flex;
    justify-content: center;
    color: #FFCC00;
    font-weight: 650;
    background-color: #1030AD;
    padding-bottom: 1em;
    padding-top: 1em;
    border-top: 2px solid #FFCC00;
    letter-spacing: 5px;
    position: static;
}

.upload-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 75px;
    margin-top: 65px;
}

.movie-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 20px;
}

.movie-description {
    max-width: 450px;
}
