{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static "css/movies.css" %}">
</head>

<body>
    <header>
        <div class="logo">MovieVault</div>
        <div class="nav-items">
            <a href="{% url 'movie_list' %}" class="nav-item">Home Page</a>
            <a href="{% url 'upload_movie' %}" class="nav-item">Upload</a>
        </div>
    </header>
    {% block content %}
    {% endblock content %}
    <footer>
        Brought to you by MovieVault
    </footer>
</body>
</html>
